<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>register</h1>
    <form action="/customer/register" method="POST">
        <input type="text" name="name" id="" placeholder="name">
        <br>
        <input type="text" name="username" id="" placeholder="username">
        <br>
        <input type="password" name="password" id="" placeholder="password">
        <br>
        <input type="text" name="address" id="" placeholder="address">
        <br>
        <input type="text" name="phone" id="" placeholder="phone">
        <br>
        <label for="gender">gender:</label>
        <br>
        <select name="gender" id="">
            <option value="male">male</option>
            <option value="female">female</option>
        </select>
        <br>
        <button type="submit"> Submit </button>
    </form>
</body>
</html>